[submodule "imgui"]
	path = imgui
	url = git@github.com:tanluteam/imgui.git
[submodule "blueprintsdk"]
	path = blueprintsdk
	url = git@github.com:tanluteam/blueprintsdk.git
[submodule "MediaCore"]
	path = MediaCore
	url = git@github.com:tanluteam/MediaCore.git
