<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apl</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Media Editor Community</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.Code-Win.mec</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>mec</string>
	<key>CFBundleGetInfoString</key>
	<string>Media Editor Community</string>
	<key>CFBundleIconFile</key>
	<string>mec_logo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.Code-Win.mec</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
        <string>0.9.3</string>
	<key>CFBundleName</key>
	<string>mec</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
        <string>0.9</string>
	<key>CFBundleVersion</key>
        <string>0.9.3.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSAppNapIsDisabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
        <string>Copyright © 2023 CodeWin Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
